/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  /* Styles */
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    .headline{
        margin-top: 8%;
    }
    .advantage-info{
        margin-top: 3%;
    }
    h2{
        font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    h1{
        font-size: 35px;
    }
    .sub-t{
        opacity: 0;
    }
    .adv__item{
        width: 90%;
        margin: 3% auto;
    }
    .adv__image{
        width: 25%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .headline{
        margin-top: 6%;
    }
    .advantage-info{
        margin-top: 3%;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 75px;
    }
    .sub-t{
        font-size: 18px;
    }
    .adv__item{
        width: 40%;
        margin-left: 3%;
    }
    .adv__image{
        width: 38%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .headline{
        margin-top: 4%;
    }
    .advantage-info{
        margin-top: 4%;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 100px;
    }
    .sub-t{
        font-size: 24px;
    }
    .adv__item{
        width: 40%;
        margin-left: 3%;
        margin-top: 5%;
    }
    .adv__image{
        width: 38%;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .headline{
        margin-top: 6%;
    }
    .advantage-info{
        margin-top: 3%;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 75px;
    }
    .sub-t{
        font-size: 18px;
    }
    .adv__item{
        width: 40%;
        margin-left: 3%;
    }
    .adv__image{
        width: 38%;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    .headline{
        margin-top: 6%;
    }
    .advantage-info{
        margin-top: 3%;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
    h1{
        font-size: 150px;
    }
    .sub-t{
        font-size: 36px;
    }
    .adv__item{
        margin-left: 3%;
        width: 30%;
    }
}
